/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.progress-indicator .percentage {
    -fx-font-size: 0.916667em; /* 11pt - 1 less than the default font */
    -fx-fill: null;
}