.jfx-slider {
    -jfx-default-thumb: #c34711;
    -jfx-default-track: #CCCCCC;
}

.jfx-slider .track,
.jfx-slider:vertical .track {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-pref-width: 2px;
    -fx-pref-height: 2px;
}

.jfx-slider .thumb,
.jfx-slider:focused .thumb {
    -fx-background-color: -jfx-default-thumb;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.jfx-slider .colored-track {
    -fx-background-color: -jfx-default-thumb;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
}

.jfx-slider .slider-value {
    -fx-stroke: WHITE;
    -fx-font-size: 10;
}

.jfx-slider .animated-thumb {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: -jfx-default-thumb;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}

.jfx-slider:min .thumb,
.jfx-slider:min:focused .thumb {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.jfx-slider:min .animated-thumb {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}