.titled-pane > .title {
    -fx-pref-height: 40.0;
    -fx-alignment: baseline-left;
    -fx-focus-color: transparent;
}


.titled-pane:focused > .title > .arrow-button .arrow 
{
	-fx-background-color: #b34711;
}